html, body {
    min-height: 100%;
    position: relative;
}

line.link {
    fill: none;
    stroke: #ddd;
    stroke-opacity: 0.8;
    stroke-width: 1.5px;
}

.dc-chart g.row text {
    font-family: sans-serif;
    font-weight: 700;
    fill: white;
}

.club-image {
    position: absolute;
    width: 250px;
    height: 250px;
    visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: -1;
}

.club-image img {
    width: 100%;
}

#mapid {
    width: 750px;
    /* height: 590px; */
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    font-size: 20px;
    color: #555;
}

.custom-legend {
    right: 0;
    top: 10px;
}

.legend i {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 0px;
    float: unset;
    opacity: 0.7;
}

.parallax {
    background-image: url(background.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content {
    height: 100vh;
    background-color: transparent;
    color: white;
}

.parallax-content h1,
.parallax-content p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8),
                 1px 1px 30px rgba(0, 0, 0, 0.75);
}

.parallax-content h1 {
    font-size: 40px;
}

.parallax-content p {
    font-size: 20px;
}

#main {
    height: 100vh;
}

.header {
    position: sticky !important;
    position: -webkit-sticky;
    top: 0;
    padding: 20px 0 10px;
    background: white;
    z-index: 9999;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.header img {
    width: 350px;
}